[flake8]
ignore =
    D100, # Missing docstring in public module
    D101, # Missing docstring in public class
    D102, # Missing docstring in public method
    D103, # Missing docstring in public function
    D104, # Missing docstring in public package
    D105, # Missing docstring in magic method
    D106, # Missing docstring in public nested class
    D107, # Missing docstring in __init__
    E501, # Line > 80 chars
    I001, # Import Line > 80 chars

exclude =
    .git,
    __pycache__,
    build,
    dist

max-complexity = 10
